<ng-container *ngIf="userData$ | async as userData">
  <div class="row justify-content-center mt-5" *ngIf="!userData.status.loading && !userData.status.error">
    <div class="col-xl-10 text-center">
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark p-2">
          <div class="row justify-content-between align-items-center">
            <div class="col-0 col-md-4"></div>
            <div class="col-12 col-md-4 text-center">
              <b>Login:</b> {{userData.login}}
            </div>
            <div class="col-12 col-md-4 text-center text-md-right">
              <button type="button" class="btn btn-dark btn-sm justify-content-end" (click)="isChangeLoginModalOpen = true">Change Login</button>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-dark text-center"><b>First Name:</b> {{userData.firstName}}</li>
        <li class="list-group-item list-group-item-dark text-center"><b>Last Name:</b> {{userData.lastName}}</li>
        <li class="list-group-item list-group-item-dark text-center"><b>Email:</b> {{userData.email}}</li>
        <li class="list-group-item list-group-item-dark text-center"><b>Job Position:</b> {{userData.jobPosition}}</li>
        <li class="list-group-item list-group-item-dark text-center"><b>Role:</b> {{userData.role}}</li>
      </ul>
      <button type="button" class="btn btn-dark mt-3"  (click)="isChangePassModalOpen = true">Change Password</button>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col text-center">
      <app-spinner *ngIf="userData.status.loading"></app-spinner>
      <div class="alert alert-danger" *ngIf="userData.status.error">An error occurred. Please try again later.</div>
    </div>
  </div>
</ng-container>
<app-change-login-modal *ngIf="isChangeLoginModalOpen" (modalClose)="isChangeLoginModalOpen = false"></app-change-login-modal>
<app-change-pass-modal *ngIf="isChangePassModalOpen" (modalClose)="isChangePassModalOpen = false"></app-change-pass-modal>
