<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/../common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-Admin Projects</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div id="js-admin-projects" class="row justify-content-center mt-2">
        <div class="col-9 d-none d-md-block">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="user : ${users}">
                    <th class="text-center">
                        <h5 th:text="${user.name}"></h5>
                    </th>
                    <th class="text-center">
                        <h5 th:text="${user.email}"></h5>
                    </th>
                    <th class="text-center">
                        <h5 th:text="${user.jobPosition}"></h5>
                    </th>
                    <th class="text-center">
                        <button class="btn btn-calendars-primary js-remove-user-project" th:attr="data-email=${user.email}, data-project=${project}">Remove</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-block d-md-none">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="user : ${users}">
                    <th class="text-center">
                        <h6 th:text="${user.name}"></h6>
                        <h6 th:text="${user.email}"></h6>
                        <h6 th:text="${user.jobPosition}"></h6>
                        <button class="btn btn-calendars-primary js-remove-user-project" th:attr="data-email=${user.email}, data-project=${project}">Remove</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span id="alertAdminProjectMessage" class="alert"></span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-calendars-secondary" data-toggle="modal" data-target="#addUserProjectModal">Add User To Project</button>
        </div>
        <div class="col text-center">
            <button class="btn btn-calendars-secondary" data-toggle="modal" data-target="#removeProjectModal">Remove Project</button>
        </div>
    </div>
</div>
<div th:replace="/../modals/add-user-project-modal :: add-user-project-modal"></div>
<div th:replace="/../modals/remove-project-modal :: remove-project-modal"></div>
</body>
</html>