<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-Admin Projects</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div id="js-admin-projects" class="row justify-content-center mt-2">
        <div class="col-7 d-none d-md-block">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="project : ${projects}">
                    <th class="text-center">
                        <h5 th:text="${project.name}"></h5>
                    </th>
                    <th class="text-center">
                        <a th:href="'/admin-projects/project/' + ${project.name}">
                            <button class="btn btn-calendars-primary">Edit</button>
                        </a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-block d-md-none">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="project : ${projects}">
                    <th class="text-center">
                        <h6 th:text="${project.name}"></h6>
                        <a th:href="'/admin-projects/project/' + ${project.name}">
                            <button class="btn btn-calendars-primary">Edit</button>
                        </a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-calendars-secondary" data-toggle="modal" data-target="#addProjectModal">Add New
                Project
            </button>
        </div>
    </div>
</div>
<div th:replace="/modals/add-project-modal :: add-project-modal"></div>
</body>
</html>