<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars - Registration</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <form name="register" th:action="@{/register}" th:object="${registerForm}" method="post">
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="text" id="first-name-register" class="form-control input-calendars" name="first-name" placeholder="First Name" th:field="*{firstName}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="text" id="last-name-register" class="form-control input-calendars" name="last-name" placeholder="Last Name" th:field="*{lastName}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="text" id="login-register" class="form-control input-calendars" name="login" placeholder="Login" th:field="*{login}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="text" id="job-position-register" class="form-control input-calendars" name="job-position" placeholder="Job Position" th:field="*{jobPosition}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="email" id="email" class="form-control input-calendars" name="email" placeholder="Email" th:field="*{email}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <select id="role-register" class="form-control input-calendars" name="role" placeholder="Job Position" th:field="*{role}">
                    <option th:each="userRole : ${userRoles}" th:value="${userRole}" th:text="${userRole}"></option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="password" id="password-register" class="form-control input-calendars" name="password" placeholder="Password" th:field="*{password}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <input type="password" id="password-repetition-register" class="form-control input-calendars" name="password-repetition" placeholder="Repeat Password" th:field="*{passwordRep}"/>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-xs-12 text-center">
                <div th:if="${error}" class="alert error-message">
                    Please fill all fields.
                </div>
                <div th:if="${errorPassword}" class="alert error-message">
                    Password do not match.
                </div>
                <div th:if="${EMAIL_ERR}" class="alert error-message">
                    Email exists.
                </div>
                <div th:if="${LOGIN_ERR}" class="alert error-message">
                    Login exists.
                </div>
                <div th:if="${success}" class="alert success-message">
                    You have just created user.
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="form-actions text-center">
                    <button type="submit" class="btn btn-submit-calendars btn-calendars-primary">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>