<div class="row justify-content-center m-3" *ngIf="totalPages > 1">
  <div class="page page-selector m-1" *ngIf="currentPage != 1" (click)="prevPage()">
    <span class="page-number"><</span>
  </div>
<!--  <div class="page page-selector m-1" *ngIf="currentPage != 1">-->
<!--    <span class="page-number">...</span>-->
<!--  </div>-->
  <div class="page m-1" [ngClass]="pageNumber === currentPage ? 'page-selected' : 'page-selector'" *ngFor="let pageNumber of rangeOfPages()" (click)="thisPage(pageNumber)">
    <span class="page-number">{{pageNumber}}</span>
  </div>
<!--  <div class="page page-selector m-1" *ngIf="currentPage != 1">-->
<!--    <span class="page-number">...</span>-->
<!--  </div>-->
  <div class="page page-selector m-1" *ngIf="currentPage != totalPages" (click)="nextPage()">
    <span class="page-number">></span>
  </div>
</div>
