.page {
  width: 30px;
  height: 40px;
  border: 2px solid #007bff;
  border-radius: 5px;
  position: relative;

  &-selector {
    color: #007bff;

    &:hover {
      background: rgba(0, 123, 255, 0.5);
      color: white;
      cursor: pointer;
    }
  }

  &-selected {
    background: #007bff;
    color: white;
  }

  &-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
