<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">CALENDARS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/my-calendar']" [routerLinkActive]="'active'">My Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users-calendars']" [routerLinkActive]="'active'">Users Calendars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/projects-calendars']" [routerLinkActive]="'active'">Projects Calendars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/rooms-calendars']" [routerLinkActive]="'active'">Rooms Calendars</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isUserModerator() | async">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" [routerLink]="['/admin/users']" [routerLinkActive]="'active'">Users</a>
          <a class="nav-link" [routerLink]="['/admin/projects']" [routerLinkActive]="'active'">Projects</a>
          <a class="nav-link" [routerLink]="['/admin/rooms']" [routerLinkActive]="'active'">Rooms</a>
        </div>
      </li>
    </ul>
    <button class="btn btn-danger" (click)="onLogout()">Logout</button>
  </div>
</nav>
