<div class="row day"
     [ngClass]="dayData.empty ? 'day-empty' : editable? 'day-data day-data_clickable' : 'day-data'"
     (click)="dayClicked(); $event.stopPropagation()">
  <ng-container *ngIf="!dayData.empty">
    <div class="col-12">
      {{dayData.number}}
    </div>
    <div class="col-12 p-0" *ngFor="let event of dayData.events">
      <app-event [eventData]="event" [editable]="editable" [currentUserEmail]="currentUserEmail" (click)="eventClicked(event); $event.stopPropagation()"></app-event>
    </div>
  </ng-container>
</div>
