@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.day {
  border: 1px solid black;
  min-height: 140px;
  height: 100%;

  &-empty {
    background: rgba(52, 58, 64, 0.05);
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }

  &-data {
    background: rgba(52, 58, 64, 0.2);

    &_clickable {
      &:hover {
        background: rgba(52, 58, 64, 0.4);
        cursor: pointer;
      }
    }
  }
}
