<app-modal
  [modalTitle]="addProjectModalTitle"
  [errorMessage]="errorMessage"
  [formId]="addNewProjectForm"
  [formValid]="addNewProjectForm.valid"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #addNewProjectForm="ngForm" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input id="name" class="form-control" type="text" name="name" ngModel required>
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
