<app-modal
  [modalTitle]="changeLoginModalTitle"
  [errorMessage]="errorMessage"
  [formId]="changeLoginForm"
  [formValid]="changeLoginForm.valid"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #changeLoginForm="ngForm" (ngSubmit)="submitForm()" >
        <div class="form-group">
          <label for="newLogin">New Login</label>
          <input id="newLogin" class="form-control"  type="text" name="newLogin" autocomplete="off" ngModel required>
        </div>
      </form>
    </div>
  </div>
</app-modal>
