<div class="row my-4 justify-content-md-center text-center" *ngIf="projectInfo$ | async as project">
  <ng-container *ngIf="!project.status.loading">
    <div class="col-12 mt-3">
      <h2>{{project.name}}</h2>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-success" (click)="isEditProjectModal = true">Edit Project</button>
    </div>
    <div class="col-12 mt-3">
      <div class="row justify-content-md-center align-items-center mb-3 member-container"
           *ngFor="let member of project.members">
        <div class="col-md-8 col-lg-9 col-xl-10">
          <div class="row">
            <div class="col-12">
              {{member.firstName}} {{member.lastName}} {{member.jobPosition}}
            </div>
            <div class="col-12">
              {{member.email}}
            </div>
            <div class="col-12">
              {{member.jobPosition}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2">
          <button type="button" class="btn btn-sm btn-success m-1" (click)="(removeUser(member.email))">Remove</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <form #addUserFrom="ngForm" (ngSubmit)="addUser(addUserFrom)">
        <div class="input-group">
          <label for="userEmail"></label>
          <select id="userEmail" class="form-control" type="text" name="userEmail" autocomplete="off" ngModel required>
            <option *ngFor="let notMember of project.notMembers" [value]="notMember.email">{{notMember.email}}
              -{{notMember.jobPosition}}- <{{notMember.firstName}} {{notMember.lastName}}>
            </option>
          </select>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-success" [disabled]="!addUserFrom.valid">
              ADD
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="project.status.loading || project.status.error">
    <app-spinner *ngIf="project.status.loading && !project.status.error"></app-spinner>
    <div class="alert alert-danger" *ngIf="project.status.error">{{project.status.errorMessage}}</div>
  </ng-container>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
<app-change-project-modal *ngIf="isEditProjectModal" [projectName]="projectName"
                          (modalClose)="isEditProjectModal = false"></app-change-project-modal>
