<app-modal
  [modalTitle]="changeRoomDataModalTitle"
  [errorMessage]="errorMessage"
  [formId]="addNewRoomForm"
  [formValid]="addNewRoomForm.valid"
  [isDeletable]="true"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
  (deleteClick)="onDeleteRoom()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #addNewRoomForm="ngForm" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="name">Room Name</label>
          <input id="name" class="form-control" type="text" name="name" [ngModel]="room.name" required>
        </div>
        <div class="form-group">
          <label for="number">Room Number</label>
          <input id="number" class="form-control" type="text" name="number" [ngModel]="room.number" required>
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
