<div xmlns:th="https://www.thymeleaf.org" th:fragment="add-room-modal" id="addRoomModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Room</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" id="roomNameInput" class="form-control m-1" placeholder="Room Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" id="roomNumberInput" class="form-control m-1" placeholder="Room Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="addNewRoomMessage" class="alert"></div>
                <button id="createNewRoomModalButton" class="btn btn-calendars-primary" type="button">Creat</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

