<div xmlns:th="https://www.thymeleaf.org" th:fragment="edit-password-modal" id="changePasswordModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Room</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input type="password" id="changePasswordInput" class="form-control m-1" name="login"
                               placeholder="New Password"/>
                        <input type="password" id="changePasswordRepInput" class="form-control m-1" name="login"
                               placeholder="Repeat New Password"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="passwordChangedMessage" class="alert"></div>
                <button id="savePasswordModalButton" class="btn btn-calendars-primary" type="button">Save</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
