<div class="row mt-4 justify-content-md-center text-center">
  <div class="col-12">
    <button type="button" class="btn btn-success" (click)="isRegisterModal = true">Register New User</button>
  </div>
  <div class="col-7 mt-5">
    <app-search-bar [searchPhrase]="searchPhrase" (searchEvent)="onSearchPhrase($event)" (resetSearchEvent)="onResetSearch()"></app-search-bar>
  </div>
  <div class="col-12 mt-3" *ngIf="usersToAdministrate$ | async as users">
    <div class="row justify-content-md-center align-items-center mb-3 user-container" *ngFor="let user of users.data">
      <div class="col-md-8 col-lg-9 col-xl-10">
        <div class="row">
          <div class="col-12 col-lg-10 order-0 order-lg-0">
            {{user.firstName}} {{user.lastName}} ({{user.login}})
          </div>
          <div class="col-12 col-lg-2 order-2 order-lg-1">
            {{user.jobPosition}}
          </div>
          <div class="col-12 col-lg-10 order-1 order-lg-2">
            {{user.email}}
          </div>
          <div class="col-12 col-lg-2 order-3 order-lg-3">
            {{user.role}}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2">
          <button type="button" class="btn btn-sm btn-success m-1" (click)="changeUserData(user)">Change Data</button>
          <button type="button" class="btn btn-sm btn-primary m-1" (click)="changeUserPass(user)">Change Password</button>
      </div>
    </div>
    <div class="col-12 mt-3" *ngIf="users.data && users.data.length === 0">
      <span class="alert alert-info">There is not such users.</span>
    </div>
    <div class="row" *ngIf="users.status.error || users.status.loading">
      <div class="col">
        <div class="alert alert-danger" *ngIf="users.status.error">
          {{users.status.errorMessage}}
        </div>
        <app-spinner *ngIf="users.status.loading"></app-spinner>
      </div>
    </div>
    <app-pageable-selector [currentPage]="users.currentPage" [totalPages]="users.totalPages" (pageSelected)="onPageSelected($event)"></app-pageable-selector>
  </div>
</div>
<app-register-user-modal *ngIf="isRegisterModal" (modalClose)="isRegisterModal = false"></app-register-user-modal>
<app-change-user-data-modal *ngIf="isUserDataModal" (modalClose)="isUserDataModal = false" [user]="selectedUser"></app-change-user-data-modal>
<app-change-user-pass-modal *ngIf="isUserPassModal" (modalClose)="isUserPassModal = false" [user]="selectedUser"></app-change-user-pass-modal>
