<app-selector
  *ngIf="ownedProjects$ | async as ownedProjects"
  [title]="'Select project'"
  [chosenValue]="selectedProject"
  [selectorData]="parseSelectorData(ownedProjects.projects)"
  [isLoading]="ownedProjects.status.loading"
  (valueChosenEvent)="onChoseProject($event)"
></app-selector>
<hr/>
<app-calendar
  *ngIf="selectedProject"
  [calendarDataState$]="calendarData$"
  (changeMonth)="onChangeMonth($event)"
  (refresh)="dispatchProjectsCalendarData()"
></app-calendar>
<div class="row my-5 mx-1" *ngIf="selectedProject && projectUsers$ | async as projectUsers">
  <div class="col text-center">
    <h3>Users of project: {{selectedProject}}</h3>
    <div class="row text-center text-lg-left user-data" *ngFor="let user of projectUsers">
      <div class="col-12 col-lg-4 user-data-item">
        {{user.email}}
      </div>
      <div class="col-12 col-lg-4 user-data-item">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="col-12 col-lg-4 user-data-item">
        {{user.jobPosition}}
      </div>
    </div>
  </div>
</div>
