@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.user-data {
  font-size: 20px;
  border: black solid 1px;

  @include media-breakpoint-up(lg) {
    border: none;
  }

  &-item {
    @include media-breakpoint-up(lg) {
      border: black solid 1px;
    }
  }
}
