<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-10 col-sm-8 col-lg-4 text-center">
      <ng-container *ngIf="errorStatus$ | async as errorStatus">
        <form #loginForm="ngForm" (ngSubmit)="onLogin()" *ngIf="!errorStatus.loading">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" class="form-control" ngModel required>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass" class="form-control" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </form>
        <div class="alert alert-danger text-center mt-5" role="alert" *ngIf="errorStatus.error && !errorStatus.loading">
          {{errorStatus.errorMessage}}
        </div>
        <app-spinner *ngIf="errorStatus.loading"></app-spinner>
      </ng-container>
    </div>
  </div>
</div>
