<div class="row calendar-event" [ngClass]="editable && isMineEvent() ? 'calendar-event_clickable' : ''">
  <div class="col-12 px-1 event-label_bolded">
    {{eventData.type}}
  </div>
  <div class="col-12 px-1 event-label_bolded">
    {{eventData.label}}
  </div>
  <div class="col-12 px-1 event-label">
    {{eventData.ownerName}}
  </div>
  <div class="col-12 px-1 event-label">
    {{eventData.startDate | calendarDate}} - {{eventData.endDate | calendarDate}}
  </div>
  <div class="col-12 px-1 event-label" *ngIf="eventData.room !== 'undefined'">
    {{eventData.room}}
  </div>
</div>
