.calendar-event {
  border: 1px solid black;
  border-radius: 4px;
  background: rgba(189, 33, 48, 0.3);
  margin: 2px;

  &:hover {
    cursor: initial;
  }

  &_clickable {
    background: rgba(0, 123, 255, 0.3);

    &:hover {
      background: rgba(0, 123, 255, 0.7);
      cursor: pointer;
    }
  }

  .event-label {
    font-size: 10px;

    &_bolded {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
