@import "constant/colors";

.btn-calendars-primary {
  background-color: $primary-color;
  color: white;
}

.btn-calendars-secondary {
  background-color: $dark-color;
  color: white;
}

.btn-calendars-header {
  min-width: 120px;
}

.btn-submit-calendars {
  &.btn-calendars-primary {
    min-width: 200px;
  }
}