<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars - Account</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center mt-5">
            <div class="user-data-calendars">
                <span class="user-data-label">Login:</span>
                <h5 id="accountLogin" th:text="${userData.login}"></h5>
                <button type="button" class="btn" data-toggle="modal" data-target="#changeLoginModal">Edit</button>
            </div>
            <div class="user-data-calendars">
                <span class="user-data-label">First Name:</span>
                <h5 th:text="${userData.firstName}"></h5>
            </div>
            <div class="user-data-calendars">
                <span class="user-data-label">Last Name:</span>
                <h5 th:text="${userData.lastName}"></h5>
            </div>
            <div class="user-data-calendars">
                <span class="user-data-label">Email:</span>
                <h5 th:text="${userData.email}"></h5>
            </div>
            <div class="user-data-calendars">
                <span class="user-data-label">Job Position:</span>
                <h5 th:text="${userData.jobPosition}"></h5>
            </div>
            <div class="user-data-calendars">
                <span class="user-data-label">Role:</span>
                <h5 th:text="${userData.role}"></h5>
            </div>
            <button class="btn btn-calendars-secondary md-2" data-toggle="modal" data-target="#changePassModal">Change Password</button>
        </div>
    </div>
</div>
<div id="changeLoginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" id="changeLoginInput" class="form-control" name="login" placeholder="New Login"/>
            </div>
            <div class="modal-footer">
                <div id="loginChangedMessage" class="alert"></div>
                <button id="saveLoginModalButton" class="btn btn-calendars-primary" type="button">Save</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="changePassModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input type="password" id="changePassInput" class="form-control m-1" name="login" placeholder="New Password"/>
                        <input type="password" id="changePassRepInput" class="form-control m-1" name="login" placeholder="Repeat New Password"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="passChangedMessage" class="alert"></div>
                <button id="savePassModalButton" class="btn btn-calendars-primary" type="button">Save</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>