<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-Projects</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div class="row justify-content-center">
        <div class="col col-md-6 form-group text-center">
            <h4 for="eventTypeSelect-new">Choose Project</h4>
            <select id="projectSelectCalendar" class="form-control input-calendars">
                <option value="undefined" text="-"></option>
                <option th:each="project : ${projects}" th:value="${project}" th:selected="${project == projectName}" th:text="${project}"></option>
            </select>
        </div>
    </div>
    <div th:if="${#arrays.isEmpty(projects)}" class="row m-2">
        <div class="col">
            <h1> Your are not assign to any project.</h1>
        </div>
    </div>
    <div th:if="${users != null}" id="js-admin-projects" class="row justify-content-center m-2">
        <div class="col-9 d-none d-md-block">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="user : ${users}">
                    <th class="text-center">
                        <h5 th:text="${user.name}"></h5>
                    </th>
                    <th class="text-center">
                        <h5 th:text="${user.email}"></h5>
                    </th>
                    <th class="text-center">
                        <h5 th:text="${user.jobPosition}"></h5>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-block d-md-none">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="user : ${users}">
                    <th class="text-center">
                        <h5 th:text="${user.name}"></h5>
                        <h5 th:text="${user.email}"></h5>
                        <h5 th:text="${user.jobPosition}"></h5>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:if="${calendarInfo != null}" class="m-2">
        <div th:replace="/common/calendar :: calendar(type='projects')"></div>
    </div>
</div>
</body>
</html>