<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-Rooms</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div id="rooms" class="row justify-content-center">
        <div class="col col-md-6 form-group text-center">
            <h4 for="eventTypeSelect-new">Choose Room</h4>
            <select id="roomSelectCalendar" class="form-control input-calendars">
                <option value="undefined" text="-"></option>
                <option th:each="room : ${rooms}" th:value="${room.name}" th:selected="${room.name == selectedRoom}" th:text="${room.name + '(' + room.number + ')'}"></option>
            </select>
        </div>
    </div>
    <div th:if="${calendarInfo != null}" class="m-2">
        <div th:replace="/common/calendar :: calendar(type='rooms')"></div>
    </div>
</div>
</body>
</html>