<app-modal
  [modalTitle]="registerUserModalTitle"
  [errorMessage]="errorMessage"
  [formId]="registerUserForm"
  [formValid]="registerUserForm.valid && matchRepeatPass"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #registerUserForm="ngForm" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input id="firstName" class="form-control" type="text" name="firstName" ngModel required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input id="lastName" class="form-control" type="text" name="lastName" ngModel required>
        </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input id="login" class="form-control" type="text" name="login" ngModel required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text" name="email" ngModel required email>
        </div>
        <div class="form-group">
          <label for="jobPosition">Job Position</label>
          <input id="jobPosition" class="form-control" type="text" name="jobPosition" ngModel required>
        </div>
        <div class="form-group" *ngIf="rolesData$ | async as rolesData">
          <label for="role">Role</label>
          <select id="role" class="form-control" name="role" ngModel required>
            <option *ngFor="let role of rolesData.roles" [value]="role">{{role}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input id="pass" class="form-control" type="password" name="pass" ngModel required (input)="checkMatchPass()">
        </div>
        <div class="form-group">
          <label for="passRepetition">Repeat Password</label>
          <input id="passRepetition" class="form-control" type="password" name="passRepetition" ngModel required
                 (input)="checkMatchPass()" (blur)="isRepeatInputBlur = true">
        </div>
        <div class="alert alert-danger" *ngIf="isRepeatInputBlur && !matchRepeatPass">
          Password repetition have to match.
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
