@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.shadow-background {
  z-index: 1500;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.calendars-modal {
  z-index: 1550;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@include media-breakpoint-up(md) {
  .calendars-modal {
    width: 70%;
    height: unset;
    max-height: 80%;
    top: 10%;
    left: 15%;
  }
}

@include media-breakpoint-up(lg) {
  .calendars-modal {
    width: 50%;
    max-height: 70%;
    top: 15%;
    left: 25%;
  }
}

@include media-breakpoint-up(xl) {
  .calendars-modal {
    width: 40%;
    top: 15%;
    left: 30%;
  }
}
