<div class="shadow-background" (click)="closeModal()"></div>
<div class="calendars-modal row bg-light p-2">
  <div class="col-12 d-flex justify-content-between align-items-start border-bottom">
    <h3>{{modalTitle}}</h3>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-12 border-bottom">
    <ng-content></ng-content>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="col-12">
    <button type="button" class="btn btn-primary m-1 mt-3" (click)="formId.ngSubmit.emit()" [disabled]="!formValid">Save
      changes
    </button>
    <button type="button" class="btn btn-secondary m-1 mt-3" (click)="closeModal()">Close</button>
    <button *ngIf="isDeletable" type="button" class="btn btn-danger m-1 mt-3" (click)="deleteOption()">Delete</button>
  </div>
</div>
