<ng-container *ngIf="calendarDataState$ | async as calendarInfo">
  <div *ngIf="!calendarInfo.status.loading && !calendarInfo.status.error && calendarInfo.calendarData" class="row m-1 mb-3 m-sm-0">
    <div class="col-12 text-center">
      <h3>{{calendarInfo.calendarData.currentYear}}</h3>
    </div>
    <div class="col-12 mb-5">
      <div class="row text-center">
        <div class="col-6 col-lg-4 order-1 order-lg-0">
          <button class="btn btn-primary"
                  (click)="prevMonth(calendarInfo.calendarData.prevMonth.number, calendarInfo.calendarData.currentYear)"
          >
            {{calendarInfo.calendarData.prevMonth.name}}
          </button>
        </div>
        <div class="col-12 col-lg-4 order-0 order-lg-1"><h4>{{calendarInfo.calendarData.currentMonth.name}}</h4></div>
        <div class="col-6 col-lg-4 order-2 order-lg-2">
          <button class="btn btn-primary"
                  (click)="nextMonth(calendarInfo.calendarData.nextMonth.number, calendarInfo.calendarData.currentYear)"
          >
            {{calendarInfo.calendarData.nextMonth.name}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 d-none d-lg-block">
      <div class="row text-center">
        <div class="col">
          <h6>Monday</h6>
        </div>
        <div class="col">
          <h6>Tuesday</h6>
        </div>
        <div class="col">
          <h6>Wednesday</h6>
        </div>
        <div class="col">
          <h6>Thursday</h6>
        </div>
        <div class="col">
          <h6>Friday</h6>
        </div>
        <div class="col">
          <h6>Saturday</h6>
        </div>
        <div class="col">
          <h6>Sunday</h6>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <ng-container *ngFor="let day of calendarInfo.calendarData.days; let i = index">
          <div class="col">
            <app-day
              *ngIf="currentUserEmail$ | async as currentUserEmail"
              [dayData]="day"
              [editable]="editable"
              [currentUserEmail]="currentUserEmail"
              (dayClickedEmitter)="onDayClicked($event)"
              (eventClickedEmitter)="onEventClicked($event, day)"
            ></app-day>
          </div>
          <div class="w-100 d-block d-lg-none"></div>
          <ng-container *ngIf="(i + 1) % weekDuration === 0">
            <div class="w-100 d-none d-lg-block"></div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="calendarInfo.status.error" class="alert alert-danger">
    {{calendarInfo.status.errorMessage}}
  </div>
  <div class="row justify-content-center mt-5" *ngIf="calendarInfo.status.loading">
    <div class="col text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <app-manage-event-modal
    *ngIf="manageEventModalIsOpen"
    [isEdit]="isEditEvent"
    [calendarData]="calendarInfo.calendarData"
    [day]="editingDay"
    [event]="editingEvent"
    [roomSelected]="roomSelected"
    (modalClose)="manageEventModalIsOpen = false"
    (refreshCalendarEvent)="refresh.emit()"
  ></app-manage-event-modal>
</ng-container>
