<app-modal
  [modalTitle]="editProjectModalTitle"
  [errorMessage]="errorMessage"
  [formId]="editProjectForm"
  [formValid]="editProjectForm.valid"
  [isDeletable]="true"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
  (deleteClick)="onDelete()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #editProjectForm="ngForm" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="name">Project New Name</label>
          <input id="name" class="form-control" type="text" name="name" ngModel required>
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
