<div class="row text-center justify-content-md-center my-5">
  <div class="col col-xl-6" *ngIf="!isLoading">
    <form ngForm>
      <label for="emailSelector"><h2>{{title}}</h2></label>
      <select id="emailSelector" name="email" class="form-control" (change)="select($event)" [ngModel]="chosenValue">
        <option *ngFor="let item of selectorData.values"
                [value]="item.value"
                [text]="item.value + '<' + item.name + '>'"
        ></option>
      </select>
    </form>
  </div>
  <div class="col" *ngIf="isLoading"></div>
</div>
