 <div class="row mt-4 justify-content-md-center text-center">
  <div class="col-12">
    <button type="button" class="btn btn-success" (click)="isNewProjectModal = true">Add New Project</button>
  </div>
  <div class="col-7 mt-5">
    <app-search-bar [searchPhrase]="searchPhrase" (searchEvent)="onSearchPhrase($event)" (resetSearchEvent)="onResetSearch()"></app-search-bar>
  </div>
  <div class="col-12 mt-3" *ngIf="projectsToAdministrate$ | async as projects">
    <div class="row justify-content-md-center align-items-center mb-3 project-container" *ngFor="let project of projects.data">
      <div class="col-md-8 col-lg-9 col-xl-10">
        <div class="row">
          <div class="col-12">
            {{project.name}}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2">
        <button type="button" class="btn btn-sm btn-success m-1" (click)="(administrateProject(project))">Administrate</button>
      </div>
    </div>
    <div class="col-12 mt-3" *ngIf="projects.data && projects.data.length === 0">
      <span class="alert alert-info">There is not such projects.</span>
    </div>
    <div class="row" *ngIf="projects.status.error || projects.status.loading">
      <div class="col">
        <div class="alert alert-danger" *ngIf="projects.status.error">
          {{projects.status.errorMessage}}
        </div>
        <app-spinner *ngIf="projects.status.loading"></app-spinner>
      </div>
    </div>
    <app-pageable-selector [currentPage]="projects.currentPage" [totalPages]="projects.totalPages" (pageSelected)="onPageSelected($event)"></app-pageable-selector>
  </div>
</div>
<app-add-project-modal *ngIf="isNewProjectModal" (modalClose)="isNewProjectModal = false"></app-add-project-modal>
