<app-modal
  [modalTitle]="registerUserModalTitle"
  [errorMessage]="errorMessage"
  [formId]="editUserDataForm"
  [formValid]="editUserDataForm.valid"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #editUserDataForm="ngForm" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input id="firstName" class="form-control" type="text" name="firstName" [ngModel]="user.firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input id="lastName" class="form-control" type="text" name="lastName" [ngModel]="user.lastName" required>
        </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input id="login" class="form-control" type="text" name="login" [ngModel]="user.login" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text" name="email" [ngModel]="user.email" required email>
        </div>
        <div class="form-group">
          <label for="jobPosition">Job Position</label>
          <input id="jobPosition" class="form-control" type="text" name="jobPosition" [ngModel]="user.jobPosition" required>
        </div>
        <div class="form-group" *ngIf="rolesData$ | async as rolesData">
          <label for="role">Role</label>
          <select id="role" class="form-control" name="role" [ngModel]="user.role" required>
            <option *ngFor="let role of rolesData.roles" [value]="role">{{role}}</option>
          </select>
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
