<app-modal
  [modalTitle]="modalTitle"
  [errorMessage]="errorMessage"
  [formId]="manageEventForm"
  [formValid]="manageEventForm.valid && datesProvided"
  [isDeletable]="isEdit"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm(this.event)"
  (deleteClick)="onDeleteEvent()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #manageEventForm="ngForm" (ngSubmit)="submitForm(this.event)" autocomplete="off">
        <div class="form-group">
          <label for="eventType">Event Type</label>
          <select id="eventType" class="form-control" name="eventType"
                  [ngModel]="this.isEdit ? this.event.type : ''"
                  required>
            <ng-container *ngIf="eventsTypes$ | async as eventsTypes">
              <option *ngFor="let type of eventsTypes" [value]="type" [text]="type"></option>
            </ng-container>
          </select>
        </div>
        <div class="form-group">
          <label for="room">Room</label>
          <select id="room" class="form-control" name="room"
                  [ngModel]="getRoomToSelector()"
                  required>
            <ng-container *ngIf="rooms$ | async as rooms">
              <option value="undefined" [text]="'Not related'"></option>
              <option *ngFor="let room of rooms.rooms" [value]="room.name" [text]="room.name + ' (' + room.number + ')'"></option>
            </ng-container>
          </select>
        </div>
        <div class="form-group">
          <label for="eventLabel">Event Label</label>
          <input id="eventLabel" class="form-control" type="text" name="eventLabel"
                 [ngModel]="this.isEdit ? this.event.label : ''"
                 required>
        </div>
        <div class="row">
          <div class="col form-group">
            <label for="startTime">Start Time</label>
            <input id="startTime" class="form-control" type="text" name="startTime" placeholder="HH:MM"
                   [ngModel]="this.isEdit ? (this.event.startDate | calendarDate) : ''"
                   required>
          </div>
          <div class="col form-group">
            <label for="endTime">End Time</label>
            <input id="endTime" class="form-control" type="text" name="endTime" placeholder="HH:MM"
                   [ngModel]="this.isEdit ? (this.event.endDate | calendarDate) : ''"
                   required>
          </div>
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
