<div class="row mt-4 justify-content-md-center text-center">
  <div class="col-12">
    <button type="button" class="btn btn-success" (click)="isNewRoomModal = true">Add New Room</button>
  </div>
  <div class="col-7 mt-5">
    <app-search-bar [searchPhrase]="searchPhrase" (searchEvent)="onSearchPhrase($event)" (resetSearchEvent)="onResetSearch()"></app-search-bar>
  </div>
  <div class="col-12 mt-3" *ngIf="roomsToAdministrate$ | async as rooms">
    <div class="row justify-content-md-center align-items-center mb-3 room-container" *ngFor="let room of rooms.data">
      <div class="col-md-8 col-lg-9 col-xl-10">
        <div class="row">
          <div class="col-12">
            {{room.name}} ({{room.number}})
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2">
        <button type="button" class="btn btn-sm btn-success m-1" (click)="(changeRoomData(room))">Change Data</button>
      </div>
    </div>
    <div class="col-12 mt-3" *ngIf="rooms.data && rooms.data.length === 0">
      <span class="alert alert-info">There is not such rooms.</span>
    </div>
    <div class="row" *ngIf="rooms.status.error || rooms.status.loading">
      <div class="col">
        <div class="alert alert-danger" *ngIf="rooms.status.error">
          {{rooms.status.errorMessage}}
        </div>
        <app-spinner *ngIf="rooms.status.loading"></app-spinner>
      </div>
    </div>
    <app-pageable-selector [currentPage]="rooms.currentPage" [totalPages]="rooms.totalPages" (pageSelected)="onPageSelected($event)"></app-pageable-selector>
  </div>
</div>
<app-add-room-modal *ngIf="isNewRoomModal" (modalClose)="isNewRoomModal = false"></app-add-room-modal>
<app-change-room-data-modal *ngIf="isEditRoomModal" [room]="selectedRoom" (modalClose)="isEditRoomModal = false"></app-change-room-data-modal>
