<app-modal
  [modalTitle]="changeUserPassModalTitle"
  [errorMessage]="errorMessage"
  [formId]="changeUserPassForm"
  [formValid]="changeUserPassForm.valid"
  (modalClosed)="modalClose.emit()"
  (formSubmitted)="submitForm()"
>
  <div class="row">
    <div class="col-12">
      <form id="changeLoginForm" #changeUserPassForm="ngForm" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="pass">New Password</label>
          <input id="pass" class="form-control" type="password" name="pass" autocomplete="off" (input)="checkMatchPass()" ngModel required>
        </div>
        <div class="form-group">
          <label for="passRepeat">Repeat New Password</label>
          <input id="passRepeat" class="form-control" type="password" name="passRepeat" autocomplete="off"
                 (input)="checkMatchPass()" (blur)="repeatPassInputBlur = true"
                 ngModel required>
        </div>
        <div class="alert alert-danger" *ngIf="this.changeUserPassForm.controls['passRepeat']?.touched && repeatPassInputBlur && !matchRepeatPass">
          Password repetition have to match.
        </div>
        <button type="submit" style="display:none"></button>
      </form>
    </div>
  </div>
</app-modal>
